extends layout
block css
    link(rel='stylesheet', href='/css/register.css')
block content
    section.section-0.fullpage(style='height:100%')
        .site-bg-img
        nav#nav.navbar.navbar-default.navbar-fixed-top(style='background-color:transparent; border-color:transparent;')
            .container
                .navbar-header
                    a.navbar-brand(href='/')
                        img#brand-logo(src='./images/logo-light.svg',style="height:50px; width:auto;")
        .jumbotron.jumbotron-home(style='height:100%')
            .col-md-5.col-centered
                h1.display-4.m-b-2.text-center#register-text Sign up with zobot
                h2.text-center#register-notice Zobot is currently available by invite only.
                form(method='POST' action='/register')
                    div.row
                        div.col-md-6.inp1
                            input#first_name.form-control.inp(type='text', placeholder='First name', name='first_name')
                        div.col-md-6.inp2
                            input#last_name.form-control.inp(type='text', placeholder='Last name', name='last_name')
                    input#email.form-control.inp(type='email', placeholder='Email', name='email')
                    input#company_name.form-control.inp(type='text', placeholder='Company name', name='company_name')
                    input#phone.form-control.inp(type='text', placeholder='Phone', name='phone')
                    button.btn.btn-primary.sign-up(type='submit') Submit